
body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    background: url("../icons/bg-bigscreen.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


.container-fluid {
    margin: 0px;
    background-color: transparent;
}

.container {
    background-color: white;
    align-items: center;
    display: flex;
    height: 100%;
    width: 600px;
    margin-top: 100px;
}



@media	screen and (min-device-width: 480px) and (max-device-width: 840px) {

}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .container {
        background-color: white;
        align-items: center;
        display: flex;
        height: 100%;
        width: 300px;
        margin-top: 30px;
    }

}

