.icon-weather-state {
    height: auto;
    width: 50px;
}
.icon-arrow-S {
    transform: rotate(0deg);
    width: 15px;
    height: auto;
}
.icon-arrow-N {
    transform: rotate(180deg);
    width: 15px;
    height: auto;
}

.icon-arrow-W {
    transform: rotate(90deg);
    width: 15px;
    height: auto;
}
.icon-arrow-E {
    transform: rotate(270deg);
    width: 15px;
    height: auto;
}
.icon-arrow-NE {
    transform: rotate(225deg);
    width: 15px;
    height: auto;
}
.icon-arrow-NW {
    transform: rotate(135deg);
    width: 15px;
    height: auto;
}
.icon-arrow-SE {
    transform: rotate(315deg);
    width: 15px;
    height: auto;
}
.icon-arrow-SW {
    transform: rotate(45deg);
    width: 15px;
    height: auto;
}
.dropdown {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    height: 50px;
    font-size: x-large;

}

table {
    border-collapse:collapse
}
tr {
    border: 0px;
}
td {
    border: 0px;
}
.date {
    color: #6AACDE;
    font-size: x-large;
    font-weight: bold;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .dropdown {
        padding: 10px;
        height: 30px;
        font-size: small;

    }
    .icon-weather-state {
        height: auto;
        width: 40px;
        display: block;
        font-size: xx-small;
    }
    .icon-weather-state {
        height: auto;
        width: 30px;
    }
    .date {
        font-size: small;
        font-weight: bold;

    }
    .table {
        margin-left: 0px;
    }
}

